In [1]:
import pandas as pd

In [4]:
datos = pd.read_csv("https://raw.githubusercontent.com/claukq/actividad_clase_4/main/datos.csv")

In [7]:
datos.describe()

             Dia       Edad
count  12.000000  12.000000
mean   14.333333  35.333333
std     8.304800   7.866307
min     1.000000  26.000000
25%     9.000000  28.250000
50%    16.500000  35.500000
75%    22.000000  41.750000
max    24.000000  47.000000

In [ ]:
datos["Edad"].min()

In [ ]:
datos["Edad"].max()